<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>278748239485-phl64prsgrs5q2t6t1trp14r368td5rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278748239485-phl64prsgrs5q2t6t1trp14r368td5rs</string>
	<key>API_KEY</key>
	<string>AIzaSyCOEUjmfUzCB0pXiTX7zpQhuegq-uhuinE</string>
	<key>GCM_SENDER_ID</key>
	<string>278748239485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bruno.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopes-social-5a7e5</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopes-social-5a7e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278748239485:ios:d7ffe227e015bc58</string>
	<key>DATABASE_URL</key>
	<string>https://devslopes-social-5a7e5.firebaseio.com</string>
</dict>
</plist>